.entityCard {
  width: 100%;
  height: 5em;
  margin-top: 1em;
  position: relative;
}

.entityContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //   background-color: burlywood;
  background: linear-gradient(
    to right,
    burlywood 0%,
    burlywood 77%,
    #9e603f 100%
  );
  padding: 0.5em;
  flex-direction: row;
  flex: 1;
}

.entityAddButton {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
  font-size: 1.5rem; // Increase font size
  border: none;

  .fa-plus {
    font-size: 1.5rem; // Increase icon size
  }
}
