//Themes are global constants that consist of colors and fonts
@import "./palette.scss";
@import "./fonts.scss";

$darkTheme: (
  bodyBackground: map-get($colorPalette, tealDark),
  bodyText: map-get($colorPalette, white),
  primaryBackground: map-get($colorPalette, tealLight),
  primaryText: map-get($colorPalette, white),
  secondaryBackground: map-get($colorPalette, brownDark),
  secondaryText: map-get($colorPalette, cream),
  tertiaryBackground: map-get($colorPalette, blackLight),
  tertiaryText: map-get($colorPalette, cream),
  accentBackground: map-get($colorPalette, redDarker),
  accentText: map-get($colorPalette, cream),
  errorBackground: map-get($colorPalette, redDark),
  errorText: map-get($colorPalette, white),
  linkText: map-get($colorPalette, purpleLight),
);

$theme: map-merge($fonts, $darkTheme);

:export {
  @each $color, $value in $darkTheme {
    #{$color}: $value;
  }
}
