//Themes are global constants that consist of colors and fonts
@import "./palette.scss";
@import "./fonts.scss";

$highContrastTheme: (
  bodyBackground: map-get($colorPalette, white),
  bodyText: map-get($colorPalette, black),
  primaryBackground: map-get($colorPalette, brownDark),
  primaryText: map-get($colorPalette, white),
  secondaryBackground: map-get($colorPalette, redDarker),
  secondaryText: map-get($colorPalette, white),
  tertiaryBackground: map-get($colorPalette, white),
  tertiaryText: map-get($colorPalette, blackLight),
  accentBackground: map-get($colorPalette, blueLight),
  accentText: map-get($colorPalette, black),
  secondaryAccentBackground: map-get($colorPalette, grayLight),
  tertiaryAccentBackground: map-get($colorPalette, blueDark),
  errorBackground: map-get($colorPalette, grayDarker),
  errorText: map-get($colorPalette, white),
  linkText: map-get($colorPalette, blueLight),
  close: map-get($colorPalette, redLight),
);

$theme: map-merge($fonts, $highContrastTheme);

:export {
  @each $color, $value in $highContrastTheme {
    #{$color}: $value;
  }
}
