//Pallettes are global constants that consist of all the basic colors the app uses

$colorPalette: (
  parchmentLight: #f5e5c5,
  parchmentDark: #d5b080,
  cream: #ffeace,
  brownLight: #a16a38,
  brownDark: #4d342f,
  brownAlt: #6b4334,
  //old value = 689775
  greenLight: #567b65,
  greenDark: #3c5a3d,
  redLight: #d22b2b,
  redDark: #7a0226,
  redDarker: #270d0a,
  black: #000,
  blackLight: #111111,
  white: #ffffff,
  yellowLight: #ffd966,
  yellowDark: #cca300,
  orangeLight: #ffac33,
  orangeDark: #e69500,
  tealLight: #39666e,
  tealDark: #113139,
  tealDarker: #132022,
  blueLight: #91a7ff,
  blueDark: #3c6df0,
  purpleLight: #af8eed,
  purpleDark: #6945b5,
  grayLight: #d9d9d9,
  grayDark: #737373,
  grayDarker: #505050,
);

:export {
  @each $color, $value in $colorPalette {
    #{"" + $color}: $value;
  }
}
