#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.Column {
  flex: 1;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.Header {
  flex: 1;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.Left {
  flex: 1;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.Right {
  flex: 1;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.Center {
  flex: 1;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  flex-wrap: nowrap;
}
