.formFieldContainer {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  .inputContainer {
    display: flex;
  }

  .input {
    background: transparent;
  }

  .errorMessageContainer {
    background: var(--errorBackground);
    font-size: 0.8em;
    padding: 0.2em 0.5em;

    .errorMessage {
      color: var(--errorText);
    }
  }

  .imagePreview {
    width: 128px;
    height: 128px;
    border: 1px solid var(--accentBackground);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 128px;
      height: 128px;
      object-fit: cover;
    }
  }

  .dropzone {
    border: 1px solid var(--accentBackground);
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    padding: 1em;
    height: 128px;
  }
}
