.tabContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow-x: auto;
  flex-shrink: 0;

  .tabRowFillBorder {
    border-bottom: 2px solid black;
    flex-grow: 1;
  }

  .tab {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid black;
    flex-grow: 0;
    flex-shrink: 0;

    &.active {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-top: 2px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black;
      border-bottom: none;
      box-shadow: none;
      font-weight: bold;
    }
  }

  .close {
    margin-top: 0;
    padding-right: 5px;
    transition: all 200ms;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    cursor: "pointer";
    border-bottom: 2px solid black;

    &:hover {
      color: var(--close);
    }
  }
}

.tabContent {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}
