.plannerObject {
  display: flex;
  align-items: flex-start;
  flex: 1;
  margin: 0.5em;
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.2em;
  background: #fff;
  width: 4em;
  height: 4em;

  img {
    // flex: 1;
    width: calc(100% - 0.2em);
    margin: 0.1em;

    &.grid {
      width: calc(50% - 0.2em);
    }
  }

  .exclamation {
    position: absolute;
    top: 1em;
    right: 1em;
    transform: translate(
      50%,
      -50%
    ); // Add this line to center the exclamation mark inside the plannerObject container
  }

  .fourPlus {
    position: absolute;
    bottom: 1em;
    right: 1em;
    transform: translate(
      50%,
      50%
    ); // Add this line to center the plus sign inside the plannerObject container
  }

  .additionalObject {
    flex: 1;
  }

  .row {
    flex: 1;
    flex-direction: row;
  }
}
