/* PlannerCard.module.scss */
.plannerCard {
  width: 100%;
  height: 5em;
  align-items: center;
  position: relative;
  background-color: burlywood;
  overflow: hidden;
}

.plannerCardScrollLeft,
.plannerCardScrollRight {
  position: absolute;
  cursor: pointer;
  font-size: 1.5em;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plannerCardScrollLeft {
  left: 0;
  padding-left: 0.2em;
}

.plannerCardScrollRight {
  right: 0;
  padding-right: 0.2em;
}

.plannerCardScrollContainer {
  overflow: hidden;
  height: 100%;
  width: calc(
    100% - 4em
  ); /* Subtract the width of the arrows from the container width */
  margin-left: 2em; /* Add margin to the left of the container to make space for the left arrow */
  margin-right: 2em; /* Add margin to the right of the container to make space for the right arrow */
  padding: 0.2em;
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent line wrapping of planner objects */
}

.plannerCardScrollCard {
  display: flex;
}

/* Set a minimum width for the planner objects to ensure they are not too small */
// .plannerCardScrollCard > div {
//   min-width: 25%; /* 25% width for each planner object, ensures at least 3 objects are visible */
// }
