//For the Notes object
.notes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // white-space: pre-wrap;
  word-wrap: break-word;
  border: none;
  outline: none;

  .notesContainer {
    height: 100%;
    overflow: auto;
  }

  ::placeholder {
    color: var(--primaryText);
  }

  .noteHeader {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }

  .noteHeaderTitle {
    display: flex;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 0.5em;

    .noteTitle {
      all: unset;
      border-bottom: 1px solid var(--accentBackground);
      flex: 1;
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .notesEdit {
    font-family: "Ubuntu Mono", monospace;
    flex: 1;
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    line-height: 1.4em;
    color: var(--primaryText);
    background: transparent;
    border: 0;
    &:focus {
      outline: none;
    }
  }

  .caption {
    font-size: 0.6em;
    text-align: center;
  }
}

//For the PathPlanner Object
.path {
  display: flex;
  align-items: flex-start;
  flex: 1;
  margin: 0.5em;
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--accentText);
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.2em;
  background: var(--accentBackground);
  width: 4em;
  height: 4em;

  img {
    // flex: 1;
    width: calc(100% - 0.2em);
    margin: 0.1em;

    &.grid {
      width: calc(50% - 0.2em);
    }
  }

  .tooltip {
    position: absolute;
    color: black;
    background-color: white;
    padding: 0.2em 0.5em;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.5);
    // width: 100%;
    max-width: 120px;
    max-height: 100%;
    // white-space: break-spaces;
    font-size: small;
    overflow: hidden;
    margin: -0.3em;
    z-index: 3; /* Add this to give the tooltip a higher z-index */
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    // z-index: 1;
  }

  .sword {
    color: var(--close);
    position: absolute;
    width: calc(100% - 0.5em);
    height: calc(100% - 0.5em);
    // z-index: 2;
  }

  .fourPlus {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    color: var(--errorText);
    transform: translate(
      50%,
      50%
    ); // Add this line to center the plus sign inside the PathPlannerObject container
    font-size: 2em; // Add this line to increase the font size
    font-weight: bold; // Add this line to make the font bold
    z-index: 99;
  }
}

//For the Binder Object
.binderObject {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border: 1px solid var(--accentBackground);

  .menuToggle {
    top: 0;
    padding: 0.2em;
    cursor: pointer;
    border-right: 1px solid var(--accentBackground);
    transition: all 0.1s ease-in-out;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .tabContainer {
    //this is our menu that we select from
    display: flex;
    overflow-x: hidden; /* Disable horizontal scroll on tab title length */
    overflow-y: auto; /* Add overflow property to enable vertical tab title scrollbar */
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.25em;

    .tab {
      padding: 0.2em;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.active {
        font-weight: bold;
        // Apply styles for the active tab
      }
    }
  }

  .content {
    //whatever spawns from the menu
    width: 100%;
    overflow-y: auto;
  }
}

//tables
.binderTable {
  border-collapse: collapse;
  width: 100%;

  .binderTableRow {
    border-bottom: 1px solid var(--primaryBackground);
    display: flex;
    align-items: center;
    font-size: 0.8em;

    &:nth-child(even) {
      background-color: var(--secondaryAccentBackground);
      color: var(--primaryText);
    }
  }

  .binderTableAction,
  .binderTableName,
  .binderTableEntities,
  .binderTableSpan {
    padding: 0.3em;
    text-align: left;
  }

  .binderTableAction {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .binderTableName {
    flex: 1;
  }

  .binderTableEntities,
  .binderTableSpan {
    flex: 3;
  }

  .deleteButton {
    cursor: pointer;
  }
}

//Stat Object
.statObject {
  display: flex;
  align-items: center;
  position: relative;

  .statIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-color: transparent;
  }

  .statIcon {
    width: 100%;
    height: 100%;
    color: var(--secondaryBackground);
  }

  .statNumber {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    color: var(--primaryText);
    padding: 2px 6px;
    border-radius: 4px;
  }

  .statLabel {
    font-size: 12px;
    font-weight: normal;
    color: var(--secondaryText);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, 50%);
  }
}

.importObject {
  .inlineForm {
    display: flex;
    align-items: flex-start;
    padding: 1em;

    .importField {
      margin-bottom: 0;
    }

    .submitButton {
      margin-left: 1em;
    }

    .alignTop {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
