@import "../../styles/variables.scss";

.button,
.roundButton {
  cursor: pointer;
  padding: $inputPadding;
  // margin: 0.25em;
  color: var(--accentText);
  background-color: var(--accentBackground);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  transition: all 0.2s ease;

  &.primary {
    color: var(--accentText);
    background-color: var(--accentBackground);
    border-color: var(--accentBackground);

    &:hover {
      background-color: var(--tertiaryAccentBackground);
      border-color: var(--tertiaryAccentBackground);
    }
  }

  &.subtle {
    background-color: transparent;
    border-color: currentColor;

    &:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.24);
    }
  }

  &.destructive {
    background-color: var(--redDark);
    color: var(--white);
    &:hover {
      background-color: var(--redLight);
    }
  }

  &.text {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
    border-color: transparent;
    &:hover {
      background-color: transparent;
      border: 1px solid currentColor;
    }
  }

  &.toggle {
    color: var(--accentText);
    background-color: var(--accentBackground);

    &:hover {
      background-color: var(--tertiaryAccentBackground);
    }

    &:first-child {
      border-radius: 8px 0 0 8px; // apply rounded corners to the first button only
    }

    &:last-child {
      border-radius: 0 8px 8px 0; // apply rounded corners to the last button only
    }
  }

  &.toggleActive {
    color: var(--accentText);
    background-color: var(--tertiaryAccentBackground);

    &:hover {
      background-color: var(--tertiaryAccentBackground);
    }

    &:first-child {
      border-radius: 8px 0 0 8px; // apply rounded corners to the first button only
    }

    &:last-child {
      border-radius: 0 8px 8px 0; // apply rounded corners to the last button only
    }
  }

  &:hover {
    background-color: var(--buttonHover);
  }

  &:disabled {
    background-color: var(--errorBackground);
    color: var(--errorText);
  }

  .buttonIcon {
    margin: 0;
  }

  .buttonIcon + .buttonContent {
    margin-left: 0.4em;
  }
}

.roundButton {
  cursor: pointer;
  padding: 0.4rem;
  color: var(--secondaryText);
  background-color: var(--secondaryBackground);
  width: 36px;
  height: 36px;
  border-radius: 36px;

  &.small {
    width: 28px;
    height: 28px;
    border-radius: 28px;
  }

  .buttonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  &:hover {
    background-color: var(--buttonHover);
  }
}
