.button {
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  margin: 0.25em;
  color: var(--accentText);
  background-color: var(
    --accentBackground
  ); // TODO make default buttons less important than primary with a more subtle color
  transition: background-color 0.2s ease;

  &.primaryButton {
    background-color: var(--accentBackground);
  }

  &.subtle {
    background-color: transparent;
  }

  &:hover {
    background-color: var(--tertiaryAccentBackground);
  }

  &:disabled {
    background-color: var(--errorBackground);
    color: var(--errorText);
  }
}

.roundButton {
  cursor: pointer;
  padding: 0.4rem;
  color: var(--secondaryText);
  background-color: var(--secondaryBackground);
  width: 36px;
  height: 36px;
  border-radius: 36px;
  transition: background-color 0.2s ease;

  &.small {
    width: 28px;
    height: 28px;
    border-radius: 28px;
  }

  &.subtle {
    background-color: transparent;
  }

  .roundButtonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &:hover {
    background-color: #444;
  }
}
