.button {
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  margin: 0.25em;
  color: var(--accentText);
  background-color: var(--accentBackground);
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--tertiaryAccentBackground);
  }

  &:disabled {
    background-color: var(--errorBackground);
    color: var(--errorText);
  }
}

.roundButton {
  cursor: pointer;
  padding: 0.1rem;
  color: var(--secondaryText);
  background-color: var(--secondaryBackground);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #444;
  }
}
