---
name: Test report
about: This is related to product testing
title: ''
labels: 'testers'
assignees: ''

---

**What feature are you testing?**
- [ ] Physics based dice roller
- [ ] GM customization options to all input
- [ ] Create Exploration or Encounter modes
- [ ] Add players/NPCS/Beasts/Shops
- [ ] Integrated search engine
- [ ] Notes Feature
- [ ] Documentation & Automation Tools


**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.
