@import "./styles/variables.scss";

#root {
  height: 100%; /* Set height of App to take up the full height of the screen */
  width: 100%; /* Set width of App to take up the full height of the screen */
  text-align: center;
}

$headerButtonWidth: 20px;

/* Our main component, this takes up the full screen .
This consists of two main objects, the header and the content*/
.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh; /* Set height of App to take up the full height of the screen */
  width: 100vw; /* Set width of App to take up the full height of the screen */
  background-color: antiquewhite;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* At the top of the app is a header */
.header {
  height: $headerHeight; /* Set height of Header to 10em */
  width: 100%; /* Set width of Header to 100% to take up the full width of its column */
  background-color: dimgray;
  flex-direction: row;
  display: flex;

  /* The header consists of 3 sections, one for each of our Views*/
  .headerSection {
    padding: 0.5em;
    flex: 1 1 33%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;

    .headerTitle {
      font-weight: bold;
      color: white;
      font-size: medium;
      margin: 0 auto;
    }

    .headerButton {
      all: unset;
      background: darkred;
      font-size: 1em;
      font-weight: bold;
      padding: 0;
      border-radius: 100%;
      margin-right: 0.25em;
      width: $headerButtonWidth;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* If a button exists to one side, we place a spacer to ensure the title is centered*/
    .spacer {
      width: $headerButtonWidth;
    }

    .searchBar {
      width: 100%;
    }
  }
}

/* The app content is shown underneath the header */
.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
}
