//Themes are global constants that consist of colors and fonts
@import "./palette.scss";
@import "./fonts.scss";

$highContrastDarkTheme: (
  bodyBackground: map-get($colorPalette, black),
  bodyText: map-get($colorPalette, parchmentLight),
  primaryBackground: map-get($colorPalette, brownDark),
  primaryText: map-get($colorPalette, white),
  secondaryBackground: map-get($colorPalette, parchmentDark),
  secondaryText: map-get($colorPalette, black),
  tertiaryBackground: map-get($colorPalette, white),
  tertiaryText: map-get($colorPalette, blackLight),
  accentBackground: map-get($colorPalette, parchmentLight),
  accentText: map-get($colorPalette, black),
  secondaryAccentBackground: map-get($colorPalette, greenLight),
  secondaryAccentText: map-get($colorPalette, black),
  tertiaryAccentBackground: map-get($colorPalette, blueDark),
  tertiaryAccentText: map-get($colorPalette, white),
  errorBackground: map-get($colorPalette, grayDarker),
  errorText: map-get($colorPalette, white),
  linkText: map-get($colorPalette, blueDark),
  close: map-get($colorPalette, redLight),
);

$theme: map-merge($fonts, $highContrastDarkTheme);

:export {
  @each $color, $value in $highContrastDarkTheme {
    #{$color}: $value;
  }
}
