//Themes are global constants that consist of colors and fonts
@import "./palette.scss";
@import "./fonts.scss";

$parchmentTheme: (
  bodyBackground: map-get($colorPalette, parchmentLight),
  bodyText: map-get($colorPalette, black),
  primaryBackground: map-get($colorPalette, parchmentDark),
  primaryText: map-get($colorPalette, brownDark),
  secondaryBackground: map-get($colorPalette, brownLight),
  secondaryText: map-get($colorPalette, white),
  tertiaryBackground: map-get($colorPalette, white),
  tertiaryText: map-get($colorPalette, black),
  accentBackground: map-get($colorPalette, greenLight),
  accentText: map-get($colorPalette, white),
  secondaryAccentBackground: map-get($colorPalette, cream),
  secondaryAccentText: map-get($colorPalette, black),
  tertiaryAccentBackground: map-get($colorPalette, greenDark),
  tertiaryAccentText: map-get($colorPalette, white),
  errorBackground: map-get($colorPalette, grayDarker),
  errorText: map-get($colorPalette, grayLight),
  linkText: map-get($colorPalette, redDark),
  close: map-get($colorPalette, redLight),
  buttonHover: map-get($colorPalette, brownAlt),
  buttonHoverText: map-get($colorPalette, parchmentLight),
);

$theme: map-merge($fonts, $parchmentTheme);

:export {
  @each $color, $value in $parchmentTheme {
    #{$color}: $value;
  }
}
