// MainMenu.module.scss
.menuOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 9999; /* Set a high z-index to ensure it appears on top */
}

.mainMenu {
  margin: 70px auto;
  padding: 20px;
  background: rgb(107, 67, 52);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.2s ease-in-out;

  h2 {
    margin-top: 0;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: "pointer";

    &:hover {
      color: #06d85f;
    }
  }

  .content {
    max-height: 30%;
    overflow: auto;
  }

  .tabs {
    display: flex;
  }

  .tab {
    padding: 10px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.active {
      font-weight: bold;
      // Apply styles for the active tab
    }
  }

  .tabContent {
    // Apply styles for the tab's content
  }
}
