.formContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;

  .formRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;

    .formLabel {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
    }

    .formInput {
      padding: 0.2rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      width: 100%;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }

    .formSelect {
      padding: 0.2rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      width: 100%;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
      background: #442912;
    }
  }

  .formButton {
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #442912;
    color: #fff;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #25170a;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
