.fieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  align-items: flex-start;
  flex: 1;

  .labelContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;

    .label {
      font-size: 1rem;
      padding: 0.25em 0;
    }
  }

  .inputContainer {
    flex: 1;
    width: 100%;
    position: relative;

    .formInput {
      padding: 0.25em 0.4em;
      border: 1px solid var(--primaryText);
      border-radius: 4px;
      width: 100%;
      min-width: 100px;
      font-size: 1em;
      background: var(--primaryBackground);
      color: var(--primaryText);

      &.hasError {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    .error {
      background: var(--errorBackground);
      color: var(--errorText);
      font-size: 0.75em;
      padding: 0 0.2em;
      position: absolute;
      width: 100%;
      z-index: 999;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  &.inline {
    flex-direction: row;

    .labelContainer {
      justify-content: flex-start;
      margin-right: 0.5em;
      margin-bottom: 0;
    }
  }

  &.above {
    .labelContainer {
      width: 100%;
    }
  }

  &.above.start {
    .labelContainer {
      justify-content: flex-start;
    }
    .formInput {
      text-align: left;
    }
  }

  &.above.center {
    .labelContainer {
      justify-content: center;
      width: 100%;
    }
    .inputContainer {
      display: flex;
      justify-content: center;
    }
    .formInput {
      text-align: center;
    }
  }

  &.above.end {
    .labelContainer {
      justify-content: flex-end;
    }
    .formInput {
      text-align: right;
    }
  }

  &.small {
    width: auto;
    .formInput {
      width: 3.5em;
      min-width: 3.5em;
    }
  }

  + .fieldContainer {
    margin-left: 1em;
  }
}
