.entityCard {
  width: 100%;
  height: 5em;
  margin-top: 1em;
  position: relative;
}

.entityContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  //   background-color: burlywood;
  background: linear-gradient(
    to right,
    burlywood 0%,
    burlywood 77%,
    #9e603f 100%
  );
  padding: 0.5em;
  flex-direction: row;
  flex: 1;
}

.entityContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  margin-left: 1em;
  justify-content: space-between; /* Add this property to push stats to the bottom */
}

.entityImage {
  width: 4em;
  height: 4em;
  padding: 0.2em;
  background: #fff;
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;

  img {
    width: 100%;
  }

  .deadIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: red;
  }
}

.entityDeadImage {
  border-width: 0.3em;
  border-color: red;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
  }
  //   &:after,
  //   &:before {
  //     content: "";
  //     position: absolute;
  //     background: red;
  //     display: block;
  //     width: 4em;
  //     height: 0.3rem;
  //     top: 50%;
  //     left: 50%;
  //   }

  //   &:before {
  //     transform: translate(-50%, -50%) rotate(45deg);
  //   }

  //   &:after {
  //     transform: translate(-50%, -50%) rotate(135deg);
  //   }
}

.entityName {
  display: flex;
  flex: 1;
  margin-left: 0.2em;
  color: #000;
}

.entityStats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this property to center stats horizontally */
  margin-top: auto; /* Add this property to push stats to the bottom */
}

.entityStat {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgb(99, 28, 28);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
}

.statCircle {
  font-size: 0.8em;
  font-weight: bold;
}

.entityHP {
  display: flex;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.entityHPButton {
  all: unset;
  background: darkred;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  border-radius: 100%;
  margin-right: 0.25em;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entityHPNumbers {
  font-size: 0.8em;
}
