@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Ubuntu+Mono:wght@400;700&display=swap");

@import "./styles/variables.scss";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  // font-size: 16px;

  // & .largeFont {
  //   font-size: 20px;
  // }

  color-scheme: light dark;
  color: var(--bodyText);
  background-color: var(--bodyBackground);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--linkText);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0.5em 0 0.4em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  > svg {
    color: inherit;
    fill: currentColor;
  }
}

code,
pre {
  font-family: "Ubuntu Mono", monospace;
  padding: 0 0.2em;
  border: 1px solid var(--accentBackground);
  font-size: 0.9em;
  border-radius: 4px;
  white-space: break-spaces;

  code {
    padding: 0;
    border: 0;
    font-size: inherit;
    border-radius: 0;
  }
}

h1 {
  font-size: 2em;
  border-bottom: 1px solid var(--secondaryBackground);
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

ul,
ol {
  padding-left: 1.25em;
  li {
    margin-bottom: 0.25em;
  }
}
em {
  font-weight: 700;
}

button {
  cursor: pointer;
  padding: $inputPadding;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  transition: all 0.2s ease;
  background: var(--primaryBackground);
  color: var(--primaryText);
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    border-color: var(--buttonHoverText);
    color: var(--buttonHoverText);
    background-color: var(--buttonHover);
  }
}
