.sheetsContainer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 250px;
    position: relative;
    flex: 1 0 auto;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .fullSizeButton {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      color: var(--accentText);
      background: var(--accentBackground);
      opacity: 0.5;
    }
    &.imageExpanded {
      max-height: unset;
    }
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .title {
      margin: 0 auto 0 0;
      display: flex;
      flex-direction: row;

      .heading {
        font-size: 1.5rem;
        color: var(--primaryText);
        margin: 0;
      }

      p {
        margin-left: 0 0 0 0.5em;
        font-style: italic;
      }
    }

    .headerButton {
      margin: 0 0 0 0.5em;
      // color: var(--secondaryText);
    }
    .closeButton {
      &:hover {
        color: var(--close);
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid var(--secondaryBackground);
    margin-bottom: 1em;
  }

  .sheetRowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;

    &.end {
      justify-content: flex-end;
    }
  }

  .sheetCenterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sheetEndContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .sheetRowContainerLeftAlign {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    // align-items: center;
    flex: 1;
    flex-direction: row;
    width: 100%;
  }

  .entityHp {
    display: flex;
    justify-content: flex-start;
  }

  .editEntityContainer {
    width: 100%;
  }

  .binderContainer {
    border: 1px solid var(--secondaryBackground);
    width: 100%;
    height: 300px;
  }

  .notesFallback {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    > h3 {
      text-align: center;
    }
  }

  .notesBinder {
    margin-top: 1em;
    overflow-y: auto;
  }

  .actionRow {
    display: flex;
    justify-content: center;
    > * {
      margin: 0 0.5em;
    }
  }

  .sheetTable {
    width: 100%;
    border-collapse: collapse;
    color: var(--primaryText);

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid var(--primaryBackground);
      color: var(--bodyText);
    }

    th {
      background-color: var(--primaryBackground);
      color: var(--primaryText);
    }

    tr:nth-child(even) {
      background-color: var(--secondaryAccentBackground);
    }
  }
}

.actionRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  flex-direction: row;
  width: 100%;
  .child-element {
    flex: 1; // Add flex: 1 to expand the child elements
  }
}

.caption {
  font-size: 0.6em;
  text-align: center;
}
