.sheetsContainer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .imageContainer {
    display: flex;
    justify-content: center;
    max-height: 250px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .import {
      position: absolute;
      bottom: 0;
      background: rgba(255, 255, 255, 0.6);
      width: 100%;
      padding: 1em;
    }
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    h2 {
      font-size: 1.5rem;
      margin: 0 auto 0 0;
      color: var(--primaryText);
    }

    .headerButton {
      margin: 0 0 0 0.5em;
    }
    .closeButton {
      &:hover {
        color: var(--close);
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid var(--secondaryBackground);
    margin-bottom: 1em;
  }

  .sheetRowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;

    &.end {
      justify-content: flex-end;
    }
  }

  .sheetCenterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sheetEndContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .editEntityContainer {
    width: 100%;
  }

  .binderContainer {
    border: 1px solid var(--secondaryBackground);
    width: 100%;
    height: 300px;
  }

  .notesFallback {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    > h3 {
      text-align: center;
    }
  }

  .notesBinder {
    margin-top: 1em;
    overflow-y: auto;
  }

  .actionRow {
    display: flex;
    justify-content: center;
    > * {
      margin: 0 0.5em;
    }
  }
}
